---
import LocalScripts from '../components/LocalScripts.astro';
import '../styles/plugins.css';
import '../styles/global.css';
import '../styles/loader.css';
import logo from '../images/logo2.svg';
import icon1 from '/images/feature-icon-1.svg';
import icon2 from '/images/feature-icon-2.svg';
import icon3 from '/images/feature-icon-3.svg';
import icon4 from '/images/feature-icon-4.svg';
import hero from '/images/1920x1080-media-4.webp';
export interface Props {
	title: string;
}

const { title } = Astro.props;


const errors = { username: "", email: "", password: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    const email = data.get("email");
    const password = data.get("password");
    if (typeof email !== "string" ) {
      errors.email += "Email is not valid. ";
    } 
    if (typeof password !== "string" || password.length < 6) {
      errors.password += "Password must be at least 6 characters. ";
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
  rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="loaded">

		<!-- Loader Start -->
		<div class="loader loaded">
		  <div class="loader loaded">
			<div class="loader__content">
			  <div class="loader__logo scaleOut">
				<img src={logo} alt="idealmaui">
			  </div>
			</div>
		  </div>
		</div>
		<!-- Loader End -->
	
		<!-- Navigation Start -->
		<nav id="nav" class="nav">
		  <div class="nav__container">
			<!-- menu background -->
			<div class="nav__background"></div>
			<div class="nav__content text-center">
			  <ul class="navigation">
				<li>
				  <a id="home-trigger" class="nav__link active-link" href="#0">
					<span class="link-title">Home</span>
					<span class="link-hover">Home</span>
				  </a>
				</li>
				<li>
				  <a id="about-trigger" class="nav__link" href="#0">
					<span class="link-title">About Us</span>
					<span class="link-hover">About Us</span>
				  </a>
				</li>
				<li>
				  <a id="works-trigger" class="nav__link" href="#0">
					<span class="link-title">Projects</span>
					<span class="link-hover">Projects</span>
				  </a>
				</li>
				<li>
				  <a id="contact-trigger" class="nav__link" href="#0">
					<span class="link-title">Contact</span>
					<span class="link-hover">Contact</span>
				  </a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
		<!-- Navigation End -->
	
		<!-- Header Start -->
		<header id="header" class="header full">
		  <div class="container-fluid px-0 fullheight-mobile">
			<div class="row gx-0 fullheight-mobile">
			  <div class="col-9 fullheight-mobile header__left">
	
				<!-- Logo Start -->
				
				<div class="logo">
				  <img src={logo} class="w-full invert max-w-[10rem]" alt="idealmaui">
				</div>
				<!-- Logo End -->
	
			  </div>
			  <div class="col-3 fullheight header__right relative">
	
				<!-- Say Hello Button Start -->
				<a href="#0" id="notify-trigger" class="btn btn-s sayhello-trigger">
				  <i class="fa-solid fa-lock"></i>
				  <span class="title">Login</span>
				  <span class="hover">Login</span>
				</a>
				<!-- Say Hello Button End -->
	
				<!-- Menu Trigger Start -->
				<!--<div class="menu-button">
				  <a href="#0" id="menu-trigger" class="menu-trigger">
					<span class="burger"></span>
					<span class="circle"></span>
				  </a>
				</div>-->
				<!-- Menu Trigger End -->
	
			  </div>
			</div>
		  </div>
		</header>
		<!-- Header End -->
	
		<!-- Main Section Start -->
		<section id="main" class="main full active animate-in">
		  <div class="fullscreen-wrapper">
	
			<!-- Fullscreen Background Start-->
			<div class="fullscreen-bg bg-hero">
			  <!-- Dark gradient cover layer -->
			  <div class="color-layer layer-dark-03"></div>
			</div>
			<!-- Fullscreen Background End-->
	
			<!-- Main Section Content Start -->
			<div class="main__content fullheight-mobile">
			  <div class="container-fluid px-0 fullheight-mobile">
				<div class="row gx-0 fullheight-mobile">
	
				  <!-- Main Section Intro Start -->
				  <div class="col-12 col-xl-6 main__intro fullheight-mobile">
	
					<!-- Main Intro Content Start -->
					<div class="intro__content fullheight-mobile">
	
					  <!-- Headline Start -->
					  <div id="headline" class="headline centered-mobile">
						<span class="headline__subtitle animated-headline">
						  <span id="typed-strings" style="display: none;">
							<span>Javascript Components</span>
							<span>Javascript Components</span>
							<span>UI/UX Design</span>
							<span>Full Stack Development</span>
						  </span>
						  <span id="typed">UI/UX desig</span><span class="typed-cursor" aria-hidden="true">|</span>
						</span>
						<h1 class="headline__title capitalize"> high-performing, feature-packed web applications for developers and end-users</h1>
						<div class="headline__btnholder">
						  <a href="#" id="sayhello-trigger" class="btn btn-l btn-outline-light">
							<span class="btn-title">Say Hello</span>
							<span class="btn-hover">Say Hello</span>
						  </a>
						</div>
					  </div>
					  <!-- Headline End -->
	
					</div>
					<!-- Main Intro Content End -->
	
					<!-- Footer Mobile Start -->
					<div class="footer-mobile full">
					  <div class="container-mobile fullheight-mobile d-flex align-items-center">
						<div class="container-fluid px-0">
						  <div class="row gx-0">
							<div class="col-6 text-start footer-mobile__socials">
							  <!-- Home screen socials links -->
							  <ul class="socials d-flex align-items-start">
								<li>
								  <a class="btn btn-s-text" href="https://www.facebook.com/" target="_blank">
									<span class="title">Fb</span>
									<span class="hover">Fb</span>
								  </a>
								</li>
								<li>
								  <a class="btn btn-s-text" href="https://www.instagram.com" target="_blank">
									<span class="title">In</span>
									<span class="hover">In</span>
								  </a>
								</li>
								<li>
								  <a class="btn btn-s-text" href="https://twitter.com/" target="_blank">
									<span class="title">Tw</span>
									<span class="hover">Tw</span>
								  </a>
								</li>
								<li>
								  <a class="btn btn-s-text" href="https://www.behance.net/" target="_blank">
									<span class="title">Be</span>
									<span class="hover">Be</span>
								  </a>
								</li>
							  </ul>
							</div>
							<div class="col-6 text-end footer-mobile__copyright">
							  <p class="copyright bright">
								<i class="fa-regular fa-copyright"></i>
								<a class="contact-link" href="#" target="_blank">IdealMaui</a>,
								<span id="yearSpotMobile"></span>
							  </p>
							</div>
						  </div>
						</div>
					  </div>
					  
					</div>
					<!-- Footer Mobile End -->
	
				  </div>
				  <!-- Main Section Intro End -->
	
				</div>
			  </div>
			</div>
			<!-- Main Section Content End -->
	
		  </div>
		</section>
		<!-- Main Section End -->
	

	
		<!-- Footer Desktop Start -->
		<footer id="footer" class="footer-desktop full">
		  <div class="container-fluid px-0 fullheight">
			<div class="row gx-0 fullheight">
			  <div class="col-6 footer-desktop__left fullheight">
				<div class="container-desktop d-flex fullheight justify-content-start align-items-center">
				  <!-- Home screen socials links -->
				  <ul class="socials">
					<li>
					  <a class="btn btn-s-text" href="https://www.facebook.com/" target="_blank">
						<span class="title">Fb</span>
						<span class="hover">Fb</span>
					  </a>
					</li>
					<li>
					  <a class="btn btn-s-text" href="https://www.instagram.com" target="_blank">
						<span class="title">In</span>
						<span class="hover">In</span>
					  </a>
					</li>
					<li>
					  <a class="btn btn-s-text" href="https://twitter.com/" target="_blank">
						<span class="title">Tw</span>
						<span class="hover">Tw</span>
					  </a>
					</li>
					<li>
					  <a class="btn btn-s-text" href="https://www.behance.net/" target="_blank">
						<span class="title">Be</span>
						<span class="hover">Be</span>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			  <div class="col-6 footer-desktop__right fullheight">
				<div class="container-desktop fullheight d-flex justify-content-end align-items-center">
				  <p class="copyright bright">
					<i class="fa-regular fa-copyright"></i>
					<a class="contact-link" href="#" target="_blank">IdealMaui</a>,
					<span id="yearSpot"></span>
				  </p>
				</div>
			  </div>
			</div>
		  </div>
		</footer>
		<!-- Footer Desktop End -->
	
		<!-- Notify Popup Start -->
		<div id="notify" class="popup notify">
		  <div class="popup__container">
	
			<!-- Popup Content Start -->
			<div class="popup__content block-rounded-s">
	
			  <!-- popup close button -->
			  <a href="#0" id="notify-close" class="popup-close">
				<i class="fa-solid fa-xmark"></i>
			  </a>
	
			  <!-- Notify Popup Title Start -->
			  <div class="popup-title">
				<p class="popup-title__title">Login to development area.</p>
			  </div>
			  <!-- Notify Popup Title End -->
	
			  <!-- Notify Form Container Start -->
			  <div class="form-container">
	
				<!-- Reply Messages Start-->
				<div class="reply-group subscription-ok">
				  <i class="fa-solid fa-circle-check reply-group__icon"></i>
				  <p class="reply-group__title txt-light">Done!</p>
				  <span class="reply-group__text">You're logged in.</span>
				</div>
				<div class="reply-group subscription-error">
				  <i class="fa-solid fa-face-frown-open reply-group__icon"></i>
				  <p class="reply-group__title">Ooops!</p>
				  <span class="reply-group__text">Something went wrong. Please try again later.</span>
				</div>
				<!-- Reply Messages End-->
	
				<!-- Notify Contact Form Start-->
				<form class="form notify-form form-light" novalidate="true" data-np-autofill-type="other" data-np-checked="1" data-np-watching="1">
				  <input class="margin-l" type="email" placeholder="Your Email" required="" name="EMAIL">
				  <input class="margin-l" type="password" placeholder="Password" required="" name="PASSWORD">
				  <button class="btn btn-l btn-light" type="submit">
					<span class="btn-title">Submit</span>
					<span class="btn-hover">Submit</span>
				  </button>
				</form>
				<!-- Notify Contact Form End-->
	
			  </div>
			  <!-- Notify Form Container End -->
	
			</div>
			<!-- Popup Content End -->
	
		  </div>
		</div>
		<!-- Notify Popup End -->
	
		<!-- Say Hello Popup Start -->
		<div id="sayhello" class="popup sayhello">
		  <div class="popup__container">
	
			<!-- Popup Content Start -->
			<div class="popup__content block-rounded-s">
	
			  <!-- popup close button -->
			  <a href="#0" id="sayhello-close" class="popup-close">
				<i class="fa-solid fa-xmark"></i>
			  </a>
	
			  <!-- Say Hello Popup Title Start -->
			  <div class="popup-title">
				<p class="popup-title__title">Let's talk!</p>
			  </div>
			  <!-- Say Hello Popup Title End -->
	
			  <!-- Say Hello Form Container Start -->
			  <div class="form-container">
	
				<!-- Reply Messages Start-->
				<div class="reply-group">
				  <i class="fa-solid fa-circle-check reply-group__icon"></i>
				  <p class="reply-group__title">Done!</p>
				  <span class="reply-group__text">Thanks for your message. We will get back as soon as possible</span>
				</div>
				<!-- Reply Messages End-->
	
				<!-- Contact Form Start -->
				<form method="post" class="form form-light sayhello-form" id="sayhello-form" data-np-autofill-type="other" data-np-checked="1" data-np-watching="1">
				  <!-- Hidden Required Fields -->
				  <input type="hidden" name="project_name" value="Ignite - Coming Soon and Landing Page Template">
				  <input type="hidden" name="admin_email" value="support@mixdesign.club">
				  <input type="hidden" name="form_subject" value="Contact Form Message">
				  <!-- END Hidden Required Fields-->
				  <div class="container-fluid px-0">
					<div class="row gx-5">
					  <div class="col-12 col-md-6">
						<input class="" type="text" name="Name" placeholder="Your Name" required="">
					  </div>
					  <div class="col-12 col-md-6">
						<input class="" type="text" name="Company" placeholder="Your Email" required="">
					  </div>
					  <div class="col-12">
						<textarea class="margin-l" name="Message" placeholder="A Few Words" required=""></textarea>
					  </div>
					  <div class="col-12">
						<button class="btn btn-l btn-light" type="submit">
						  <span class="btn-title">Send</span>
						  <span class="btn-hover">Send</span>
						</button>
					  </div>
					</div>
				  </div>
				</form>
				<!-- Contact Form End  -->
	
			  </div>
			  <!-- Say Hello Form Container End -->
	
			</div>
			<!-- Popup Content End -->
	
		  </div>
		</div>
		<!-- Say Hello Popup End -->
	
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	
		  <!-- Background of PhotoSwipe.
		  It's a separate element, as animating opacity is faster than rgba(). -->
		  <div class="pswp__bg"></div>
	
		  <!-- Slides wrapper with overflow:hidden. -->
		  <div class="pswp__scroll-wrap">
	
			<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
			<!-- don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
	
			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">
	
			  <div class="pswp__top-bar">
	
				<!--  Controls are self-explanatory. Order can be changed. -->
	
				<div class="pswp__counter"></div>
	
				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
	
				<button class="pswp__button pswp__button--share" title="Share"></button>
	
				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
	
				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
	
				<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
				<!-- element will get class pswp__preloader-active when preloader is running -->
				<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
						  <div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						  </div>
						</div>
				</div>
			  </div>
	
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>
	
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>
	
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>
	
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
	
			</div>
	
		  </div>
	
		</div>
	

<LocalScripts />
	  
	
	
	<!--<script type="text/javascript" src="chrome-extension://fooolghllnmhmmndgjiamiiodkpenpbb/injectedPasswordless.js"></script>-->

		  </body>
</html>
<style is:global>
	.typed-cursor{
	  opacity: 1;
	}
	.typed-cursor.typed-cursor--blink{
	  animation: typedjsBlink 0.7s infinite;
	  -webkit-animation: typedjsBlink 0.7s infinite;
			  animation: typedjsBlink 0.7s infinite;
	}
	@keyframes typedjsBlink{
	  50% { opacity: 0.0; }
	}
	@-webkit-keyframes typedjsBlink{
	  0% { opacity: 1; }
	  50% { opacity: 0.0; }
	  100% { opacity: 1; }
	}
  </style>
